<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <h1>Home page with hbs</h1>
    <h1>{{title}}</h1>
    <p>Created by {{name}}</p>
    <img src="./img/download.jpeg">

    <form onsubmit="">
        <input placeholder="Location">
        <button>Search</button>
    </form>

    <p id="message-1">
        
    </p>

    <p id="message-2">

    </p>

    <script src="./js/app.js"></script>
</body>
</html>